<div>
    
  <form class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">中行内转账汇款</legend>
      </div>
    

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">转出账户</label>
          <div class="controls">
            <input id='transferOutAcc' type="text" value="借记卡 62*****************1234" class="input-xlarge">
          </div>

        </div>

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">转入账户</label>
          <div class="controls">
             <input id='transferInAcc' type="text"  class="input-xlarge">
          </div>

        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">转账金额</label>
          <div class="controls">
            <input id='transferAmount' type="text" placeholder="0" class="input-xlarge">元
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">

          <!-- Textarea -->
          <label class="control-label">附言</label>
          <div class="controls">
            <div class="textarea">
                  <textarea id='postscript' type="" class=""> </textarea>
            </div>
          </div>

        </div>
<div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">确定</button>
          </div>
    </fieldset>
    
    
  </form>

<!--
    <img style="width:1000px" src='./images/innerbankTransfer.png'></img>
 -->
</div>